/*TYPOGRAPHY*/

html{
	font:22px Verdana sans-serif;
}

figcaption{
	font-size: 33px;
	font-weight: bold;
}

/*OUTER STRUCTURE*/

body{
  height:100%;
  background:hsl(240,30%,10%);
}

.outer{
  display:block;
  background:hsl(240,30%,10%);
  padding:20px;
  height:100%;
}

/*INNER STRUCTURE*/

.inner{
  width:60%;
  margin:0 auto;
  box-shadow:7px 7px 7px #000;
  border-radius:10px;
  background:hsl(240,30%,90%);
  background-attachment:fixed;
  background-repeat:no-repeat;
}

.inner *{
  margin:0;
}

.inner > *:last-child{
  border-radius:0 0 10px 10px;
}

/*HEADER*/

nav img{
	height:32px;
}

.main-head{
  background:hsla(90,100%,40%,0.80);
  margin:auto;
  display:flex;
  align-items:center;
  border-radius:10px 10px 0 0;
}

.main-head > *{
  flex-grow:1;
  margin:0 5px;
}

.main-head #logo{
  font:44px Verdana sans-serif;
}

.main-head nav a{
  text-decoration:none;
  color:hsl(90,45%,5%);
  margin:0 5px;
  float:right;
}

.main-head nav a:hover{
  color:hsl(90,30%,40%);
}

/*FOOTER*/

footer{
	display:none;
}

/*CONTENT*/

.content{
  padding:22px 30px;
}

.content *{
	margin-bottom:10px;
}

/*GRID*/

figure{
	border:1px solid red;
}

.grid{
	display:flex;
	width:auto;
	align-items:center;
	flex-wrap:wrap;
}

.grid > *{
	height:200px;
	width:170px;
	list-style-type:none;
	padding:10px;
}

.grid img{
	width:100%;
	height:100px;
}
.grid p{
	height:100px;
}

/*MOBILE*/

@media screen and (max-width:1000px){

	/*MOBILE TYPOGRAPHY*/
	html{
		font:4.5vw Verdana sans-serif;
	}

	figcaption{
		font-size: 5.5vw;
		font-weight: bold;
	}
	
	h4{
		font-weight:initial;
	}
  
	/*MOBILE STRUCTURE*/
	
	.outer{
		padding:10px;
	}
	  
	.inner{
		width:90%;
		border-radius:0;
	}
	
	.grid *{
		width:100%;
	}

	.grid img{
		height:auto;
	}

	.content{
		padding:22px 15px;
	}
	  
	.main-head{
		margin:auto;
		width:100%;
		border-radius:0;
	}
}
