/*TYPOGRAPHY*/

*{
	box-sizing:border-box;
}

html{
	font:16px Tahoma, sans-serif;
}

figcaption{
	font-size: 1.4rem;
	font-weight: bold;
}

a{
	text-decoration:none;
	color:inherit;
}

/*OUTER STRUCTURE*/

body{
  height:100%;
  background:hsl(240,30%,10%);
}

.outer{
  display:block;
  background:hsl(240,30%,10%);
  padding:20px;
  height:100%;
}

/*INNER STRUCTURE*/

.inner{
  width:60%;
  margin:0 auto;
  box-shadow:7px 7px 7px #000;
  border-radius:10px;
  background:hsl(240,30%,90%);
}

.inner > *{
  margin:0;
  padding:0;
  border:0;
}

.inner > *:last-child{
  border-radius:0 0 10px 10px;
}

/*HEADER*/

nav img{
	height:32px;
}

.main-head{
  background:hsla(90,100%,40%,0.80);
  margin:auto;
  display:flex;
  align-items:center;
  border-radius:10px 10px 0 0;
}

.main-head > *{
  flex-grow:1;
  margin:0 5px;
}

.main-head #logo{
  font:2.75rem Verdana sans-serif;
}

.main-head nav a{
  text-decoration:none;
  color:hsl(90,45%,5%);
  margin:0 5px;
  float:right;
}

.main-head nav a:hover{
  color:hsl(90,30%,40%);
}

/*CONTENT*/

.content{
  /*padding:22px;*/
}

.content *{
	/*margin-bottom:10px;*/
}

/*GRID*/

figure *{
	margin:0;
	padding:0;
}

.grid{
	display:flex;
	width:100%;
	align-items:center;
	flex-wrap:wrap;
}

.grid li{
	height:300px;
	width:170px;
	list-style-type:none;
	/*padding:10px;
	margin: 0px 20px 10px 10px;*/
}

.grid li:hover{
	box-shadow: 0 0 10px #000;
}

.grid img{
	width:150px;
	height:100px;
}
.grid p{
	width:150px;
	height:200px;
}

/*FOOTER*/

footer{
	display:none;
}


/*MOBILE*/

@media (max-width:700px){
	/*MOBILE STRUCTURE*/
	
	.outer{
		/*padding:10px;*/
	}
	  
	.inner{
		width:95%;
		border-radius:0;
	}
	
	.grid{
		display:block;
	}

	.grid li{
		display:block;
		width:100%;
		height:auto;
	}

	.grid img{
		width:100%;
	}

	.content{
		/*padding:22px 15px;*/
	}
	  
	.main-head{
		margin:auto;
		width:100%;
		border-radius:0;
	}
}

@media screen and (max-width:700px){
	html{font-size:18px;}
}

@media screen and (max-width:600px){
	html{font-size:20px;}
}

@media screen and (max-width:400px){
	html{font-size:22px;}
	.main-head{
		display:block;
	}
	
	.main-head #logo,
	.main-head nav{
		display:block;
		margin:auto;
		text-align:center;
	}
	
	.main-head nav a{
		float:none;
		display:inline;
	}
	
	#hidden-at-small{
		display:none;
	}
}
