/*TYPOGRAPHY*/

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html{
	font:18px Calibri, sans-serif;
	line-height:1.7rem;
}

h1,h2,p,a{
	font-weight:normal;
}

h1{
	margin:0;
	font-size:2rem;
}

h2{
	font-size:1.15rem;
	color:hsl(240,50%,50%);
}

p{
	font-size:1rem;
}

a{
	text-decoration:none;
	color:hsl(240,100%,50%);
}

a:hover{
	color:hsl(90,30%,50%);
}

a:visited{
	color:hsl(240,100%,50%);
}

.main-head a{
	font-size:0.85rem;
	color:hsl(240,100%,100%);
}

.main-head a:visited{
	color:hsl(240,100%,100%);
}

/*OUTER STRUCTURE*/

body{
  background:#fff;
  padding:20px;
}

/*INNER STRUCTURE*/

.inner{
  width:70%;
  margin:0 auto;
  box-shadow:0px 2px 7px #000;
  background:hsl(240,30%,90%);
  border-radius:10px;
}

.main-head{
	border-radius:10px 10px 0 0;
}

/*HEADER*/

.main-head{
  background:hsla(90,100%,0%,0.80);
  padding:0.7rem;
  vertical-align:middle;
}

.main-head #logo{
  font:2.75rem Verdana sans-serif;
  color:hsl(240,0%,100%);
}

/*CONTENT*/

.content{
	padding:1.2rem;
}

.content section{
	margin-top:2rem;
}

.content section:first-child{
	margin-top:0;
}

.content h1{
	border-bottom:2px solid hsl(240,100%,15%);
	margin-bottom:0.8rem;
	padding-bottom:0.3rem;
}

.content h2 a{
	color:hsl(240,100%,60%);
}

.content p{
	margin-left:1rem;
}

/*EMAIL FORM*/

form input,
form textarea{
	display:block;
	margin:10px 0px;
	width:33%;
	font-size:0.8rem;
}

form textarea{
	height:5rem;
}

.email-form p{
	height:1rem;
	padding-left:0;
	margin-left:0;
	color:red;
}

/*FOOTER*/

footer{
	padding:1.2rem;
}

footer small{
	display:block;
}

/*MOBILE*/

@media screen and (max-width:770px){
	html{font-size:14px;}

	.inner{
		width:95%;
	 }

	form input,
	form textarea{
	 width:80%;
	 margin:10px auto;
	}
}

@media screen and (max-width:400px){
	html{font-size:10px;}
}
