body{
  background:black;
  font:2.7vh "Courier New", Courier, monospace;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  height:98vh;
}

#terminal{
  color:white;
  padding:10px;
}

#message,
#mobile{
  color:hsl(10,100%,50%);
}

/*MOBILE*/

@media screen and (max-width:750px){ 
	body{font-size:2vh;}
} 

@media screen and (max-width:400px){
	body{font-size:1vh;}
}